.wrap {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 8px;
  background-color: #2c2b2a;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.img {
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.5);
}

.message_wrap {
  padding-top: 30px;
}

.title {
  margin-bottom: 12px;
  color: var(--primary-color);
  font-size: 30px;
  font-weight: 600;
}

.text {
  margin-left: 20px;
  margin-bottom: 8px;
  color: var(--second-color);
  font-size: 18px;
}

.message {
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
  color: var(--background-color);
}
