.wrap {
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  padding: 10px;
  background-color: #1f1f1f;
}

.title {
  margin-bottom: 8px;
  text-align: center;
  font-family: Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-decoration: underline;
  color: var(--primary-color);
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card {
  display: flex;
  padding: 8px;
  border: 2px solid var(--primary-color);
  background-color: #1f1f1f;

  transition: all 250ms linear;

  &:hover {
    box-shadow: 0px 0px 10px 4px var(--primary-color);
  }
}

.wrap_comment {
  width: 100%;
}

.ico {
  color: var(--background-color);
  width: 25px;
  height: 25px;
}

.author {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 10px;
  color: var(--second-color);

  font-size: 20px;
}

.text {
  font-family: cursive;
  margin-bottom: 10px;
}

.ico_comment {
  transform: scaleX(-1);
  margin-right: 20px;
  width: 25px;
  height: 25px;
  color: var(--background-color);
}

.date {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 12px;
  color: var(--primary-color);
}
